<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <div class="container">
        <% include ../partials/header %>

        <main>
            <h1><%= operation %> Result:</h1>
            <hr/>
            <p><%= res %></p>
        </main>
    </div>

    <% include ../partials/scripts %>
</body>

</html>
